.work-section {
  padding: 52px 80px;
  background-color:  #DBDFFD;
  width: 103.2%;
  height: 1009px;
  /* margin: -20px -1px 0px -24px; */
  margin: -20px 0 0 -24px;
}
.work-container {
  margin: 0 auto;
  text-align: center;
}
.work-container h1 {
  font-size: 44px;
  font-weight: 700;
  color: #333;
  line-height: 1.05;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.image {
  width: 40%;
  height: 40%;
}
.work-subscribe-text {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 10px;
}
.work-sigup-text {
  font-size: 15px;
  color: #555;
}
.work-subscribe-input {
  width: 30% !important;
  height: 35px !important;
  position: relative;
  border-radius: 0 !important;
}
.work-container *:focus {
  outline: none;
}
.work-subscribe::after {
  content: "Notify Me";
  position: absolute;
  text-transform: uppercase;
  padding: 6px 3px;
  font-size: 14px;
  background-color: #333;
  color: #fff;
  font-weight: 500;
  right: 564px;
  top: 584px;
  cursor: pointer;
}
p.work-signup-text {
  margin-top: 10px;
} 

